@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

h2 {
  margin: 0;
}
p {
  margin: 0;
}
li {
  margin: 0;
}
ul {
  margin: 0;
}
body {
  background-image: url('/krismasWebsite/imgonline-com-ua-TextureSeamless-tdADSwfb1d\ \(2\).jpg');
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: rgb(214, 213, 213);
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

.header {
  border-radius: 20px 20px 0 0;
  background-color: #801311;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

video {
  max-width: 100%;
  height: auto;
  background-color: #801311;
  border-radius: 10px;
  margin: 0;
}

.custom-bullets {
  list-style: none;
  padding: 0;
}

.custom-bullets li {
  background: url('/krismasWebsite/check_17134877.png') no-repeat left center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.logo img {
  height: auto;
  width: auto;
  max-height: 80px;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.phone a {
  width: 100%;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.phone:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ad1d1b;
  border-top: 2px solid rgba(224, 210, 210, 0.253);
  border-bottom: 2px solid rgba(224, 210, 210, 0.253);
  margin-bottom: 20px;
}

.nav-ul {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav-ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 412px) {
  .section h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .nav-ul li a {
    font-size: 18px;
  }
}

.section {
  margin-bottom: 30px;
  background-color: #e5ebea;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 19px;
}

.section h2 {
  margin-bottom: 25px;
  font-size: 30px;
  color: #b2280d;
}

.btn {
  background: linear-gradient(145deg, #bb1701, #e55d00);
  color: white;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: linear-gradient(145deg, #f70303, #ff6600);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0; 
  transform: scale(0.8);
  pointer-events: none; 
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.modal.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  max-height: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.section p {
  line-height: 1.8;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e55d00;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 630px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .header-right {
    gap: 10px;
    margin-bottom: 10px;
  }

  /* Бургер-меню для мобильных устройств */
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav-ul {
    display: block;
  }

  .nav-btn {
    display: block;
    background-color: #8a3231;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .nav.active {
    display: flex;
  }

  .nav-ul li {
    margin: 10px 0;
  }
}

@media (max-width: 412px) {
  .section h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
  }
}
